body {
    background-color: #33363c;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  p{
    color: white;
  }

	.MuiPagination-root{
    color:white
  }

  